# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pretrain*
# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Locust files:
locustfile.py

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

# Tensorflow
*model_checkpoints
**/outputs

# Azure ML
config.json
aml_config/
aml_scripts/
aml_data/

# Spark
spark-warehouse/

##########################
.DS_Store
.~*
Untitled*.ipynb
*-Copy*.ipynb
~$*
output.ipynb
conda*.yaml
reco_*.yaml
.idea/
*.npz
*.data
*.dat
*.csv
*.zip
*.7z
.vscode/
u.item
ml-100k/
ml-10M100K/
ml-1m/
ml-20m/
*.jar
*.item
*.pkl
*.txt
*.pdf
.pretrain
*.npy
*.ckpt*
*.png
*.jpg
*.jpeg
*.gif
*.model
*.mml
nohup.out

#####  kdd 2020 tutorial data folder
scenarios/KDD2020-tutorial/data_folder.zip
scenarios/KDD2020-tutorial/data_folder/
scenarios/KDD2020-tutorial/.ipynb_checkpoints/
scenarios/academic/KDD2020-tutorial/data_folder/
scenarios/academic/KDD2020-tutorial/data_folder.zip
scenarios/academic/KDD2020-tutorial/.ipynb_checkpoints/

*.vec
*.tsv
*.sh

