# Python package
# Create and test a Python package on multiple Python versions.
# Add steps that analyze code, save the dist with the build record, publish to a PyPI-compatible index, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/python

trigger:
- 'dciborow/test_harness'

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: UsePythonVersion@0
  inputs:
    versionSpec: '3.x'
    addToPath: true
    architecture: 'x64'

- task: CmdLine@2
  inputs:
    script: 'pip3 install azureml-sdk azure-mgmt-cosmosdb pyspark pydocumentdb'
    
- task: PythonScript@0
  inputs:
    scriptSource: 'filePath'
    scriptPath: 'tests/harness/standard_deployment.py'