azureml-sdk[notebooks,tensorboard]==1.22.0
azure-storage-blob<=2.1.0
azure-cli-core==2.0.75
azure-mgmt-cosmosdb==0.8.0
black>=18.6b4
category_encoders>=1.3.0
dataclasses>=0.6
hyperopt==0.1.2
idna==2.7
locustio==0.11.0
memory-profiler>=0.54.0
nbconvert==5.5.0
pydocumentdb>=2.3.3
pymanopt==0.2.5
xlearn==0.40a1
transformers==2.5.0
tensorflow==1.15.2
scrapbook>=0.5.0
