scikit-learn==0.19.1
swig==3.0.12
dask>=0.17.1
ipykernel>=4.6.1
pyspark==2.3.1
numba>=0.38.1
mock==2.0.0
pymongo>=3.6.1
fastparquet>=0.1.6
jupyter>=1.0.0
scikit-surprise>=1.0.6
python==3.6.8
pytest>=3.6.4
lightgbm==2.2.1
pandas>=0.23.4
gitpython>=2.1.8
tensorflow-gpu==1.12.0
seaborn>=0.8.1
pyarrow>=0.8.0
scipy>=1.0.0
matplotlib>=2.2.2
pytorch>=1.0.0
bottleneck==1.2.1
numpy>=1.13.3
memory-profiler>=0.54.0
category_encoders>=1.3.0
hyperopt==0.1.1
fastai==1.0.46
locustio==0.11.0
dataclasses>=0.6
azureml-sdk[notebooks,tensorboard]==1.0.18
black>=18.6b4
databricks-cli==0.8.6
idna==2.7
pydocumentdb>=2.3.3
nvidia-ml-py3>=7.352.0
pymanopt==0.2.3
tqdm==4.31.1
azure-storage>=0.36.0
papermill==0.18.2
