azureml-sdk[notebooks,tensorboard]==1.25.0
azure-cli-core==2.20.0
azure-storage-blob<12.9.0
azure-mgmt-cosmosdb==6.1.0
black>=18.6b4
category_encoders>=1.3.0
dataclasses>=0.6
hyperopt==0.2.5
idna==3.1
locustio==0.999
memory-profiler>=0.54.0
nbconvert==6.0.7
pydocumentdb>=2.3.3
pymanopt==0.2.5
xlearn==0.40a1
tensorflow==2.4.1
transformers==4.7.0
tensorflow==2.4.0
scrapbook>=0.5.0
