# Unified Azure OpenAI configuration
AZURE_OPENAI_RESOURCE=""
AZURE_OPENAI_KEY=""
AZURE_OPENAI_API_VERSION="2024-12-01-preview"

# Model deployment names
AZURE_OPENAI_MODEL_45="gpt-4.5-preview"
AZURE_OPENAI_MODEL_41="gpt-4.1"
AZURE_OPENAI_MODEL_4O="gpt-4o"
AZURE_OPENAI_MODEL_O3_MINI="o3-mini"
AZURE_OPENAI_MODEL_O3="o3"
AZURE_OPENAI_MODEL_O1="o1"
AZURE_OPENAI_MODEL_O1_MINI="o1-mini"
AZURE_OPENAI_MODEL_O4_MINI="o4-mini"