numpy>=1.14
pandas>1.0.3,<2
scipy>=1.0.0,<2
tqdm>=4.31.1,<5
matplotlib>=2.2.2,<4
scikit-learn>=0.22.1,<1
numba>=0.38.1,<1
lightfm>=1.15,<2
lightgbm>=2.2.1,<3
memory_profiler>=0.54.0,<1
nltk>=3.4,<4
pydocumentdb>=2.3.3<3  
pymanopt>=0.2.5,<1
seaborn>=0.8.1,<1
transformers>=2.5.0,<5
bottleneck>=1.2.1,<2
category_encoders>=1.3.0,<2
jinja2>=2,<3
pyyaml>=5.4.1,<6
requests>=2.0.0,<3
cornac>=1.1.2,<2
scikit-surprise>=0.19.1,<=1.1.1
nvidia-ml-py3>=7.352.0
tensorflow-gpu>=1.15.0,<2
torch==1.2.0
fastai>=1.0.46,<2