# Copyright (c) Microsoft Corporation. All rights reserved.
# Licensed under the MIT License.

on:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
      - '0.*' # Push events to matching 0.*, 1.*
      - '1.*'

name: Create GitHub Draft Release

jobs:
  
  unit-test-workflow:
    uses: ./.github/workflows/azureml-unit-tests.yml
    secrets: inherit

  cpu-nightly-workflow:
    uses: ./.github/workflows/azureml-cpu-nightly.yml
    secrets: inherit

  gpu-nightly-workflow:
    uses: ./.github/workflows/azureml-gpu-nightly.yml
    secrets: inherit

  spark-nightly-workflow:
    uses: ./.github/workflows/azureml-spark-nightly.yml
    secrets: inherit

  create-release:
    runs-on: ubuntu-latest
    needs: [unit-test-workflow, cpu-nightly-workflow, gpu-nightly-workflow, spark-nightly-workflow]
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
      - name: Setup python
        uses: actions/setup-python@v3
        with: 
          python-version: "3.8"
      - name: Install wheel package
        run: pip install wheel
      - name: Create wheel from setup.py
        run: python setup.py bdist_wheel
      - name: Create tar gz from setup.py
        run: python setup.py sdist
      - name: Create GitHub Draft Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Recommenders ${{ github.ref }}
          body: |
            Changes in this Release
            - First Change
            - Second Change
          draft: true
          prerelease: false
      - name: Upload .whl and .tar.gz files as Release Assets
        id: upload-release-assets
        uses: dwenegar/upload-release-assets@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          release_id: ${{ steps.create_release.outputs.id }}
          assets_path: dist
