# ---------------------------------------------------------
# Copyright (c) Microsoft Corporation. All rights reserved.
# Licensed under the MIT License.
# ---------------------------------------------------------

name: azureml-unit-tests

on:
  # pull_request_target allows execution of workflows in the context
  # of a base repository. When a PR is raised from a forked repo, it
  # gives the workflow access to AZUREML_TEST_CREDENTIALS, stored as
  # a repo level secret, which is needed to trigger execution of unit
  # tests on AzureML compute.
  pull_request_target:
    types:
      - opened
    branches:
      - 'staging'
      - 'main'

  push:
    branches:
      - 'pradjoshi/simplify_tests'

  # enable manual trigger
  workflow_dispatch:
    input:
      tags:
        description: 'Tags to label this manual run (optional)'
        default: 'Anything to describe this manual run'

  # make this workflow reusable
  workflow_call:

jobs:

  azureml-test-template:
    uses: ./.github/workflows/azureml-template.yml
    with:
      EXP_NAME: 'azureml_unit_tests'
      TEST_KIND: 'unit'
    secrets: inherit
